@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #26282c;
}

.loading-overlay {
    color: #b8b8b8;
    background-color: #1a1c21;
    font-family: "Space Mono", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 128px;
    transition: opacity .3s;
    opacity: 0;
    z-index: 100;
    pointer-events: none;
}
.loading-overlay.visible {
    cursor: default;
    user-select: none;
    pointer-events: all;
    opacity: 1;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.editor-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-height: 100%;
    overflow: hidden;
}

.monaco-editor {
    padding-top: 4px;
}

.ribbon {
    color: #d3d3d3;
    background-color: #1a1c21;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    display: flex;
    flex-direction: row;
    min-height: 42px;
    flex: 0 1;
}

.ribbon-sidebar {
    padding-left: 56px;
    display: flex;
    align-items: center;
    width: 300px;
    border-right: 1px solid hsla(0, 0%, 100%, .1);
    font-family: Space Mono, sans-serif;
    box-sizing: border-box;
}

.ribbon-editor {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.ribbon-editor .open-file {
    display: flex;
    flex-grow: 1;
    padding-left: 36px;
    padding-bottom: 2px;
    font-family: Consolas, Space Mono, sans-serif;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

.ribbon-editor .file-details {
    margin-left: 24px;
    color: gray;
}

.ribbon-editor .file-details img {
    float: left;
    margin-right: 8px;
    margin-top: 2px;
}

.ribbon-editor .content-buttons {
    display: flex;
    align-items: center;
}

.ribbon-editor .content-buttons a {
    margin-right: 16px;
    transition: opacity .2s;
    font-family: Space Mono, sans-serif;
    padding-bottom: 2px;
}

.ribbon-editor .content-buttons button {
    background-color: transparent;
    border: 0;
    margin: 0;
    font-family: Space Mono, sans-serif;
    font-size: 18px;
    height: 100%;
    padding: 0 24px;
    padding-bottom: 2px;
    border-left: 1px solid hsla(0, 0%, 100%, .2);
    cursor: pointer;
}

.ribbon-editor .content-buttons button img {
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    margin-bottom: 3px;
}
.ribbon-editor .content-buttons .save-button {
    color: #b8d1ff;
}
.ribbon-editor .content-buttons .save-button:hover {
    background-color: hsla(0,0%,100%,.08);
}
.ribbon-editor .content-buttons .save-button:disabled {
    color: gray;
    cursor: not-allowed;
    font-weight: 400;
}
.ribbon-editor .content-buttons .save-button:disabled img {
    filter: grayscale(1);
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    background-color: #1a1c21;
    padding-top: 12px;
}

.files-container {
    flex-grow: 1;
}
.file {
    padding: 3px 8px 4px 40px;
    margin: 4px auto;
    color: #d3d3d3;
    width: 220px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Space Mono, sans-serif;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.file::before {
    position: absolute;
    left: 14px;
    top: 7px;
    width: 16px;
    height: 16px;
    content: " ";
    background-image: url(/icon-file.png);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.file:hover {
    background-color: #26282c;
}
.file.active {
    background-color: #26282c;
}
a {
    color: inherit;
    text-decoration: none;
}
.file.ai::after {
    content: "AI Prompt";
    background: linear-gradient(45deg, #a3b4ff, #e384f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Space Mono", sans-serif;
    font-weight: 600;
    background-clip: text;
}
.file.ai::before {
    background-image: url(https://img.icons8.com/?size=100&id=POBc2SrrhhnF&format=png&color=000000);
}
.file.docs {
    padding: 3px 12px 4px 40px;
    font-weight: 600;
    position: sticky;
    bottom: 0;
}
.file.docs::before {
    top: 7px;
    background-image: url(/icon-docs.png);
}

.files-container hr {
    margin: 10px auto;
    width: 70%;
    border: 0;
    border-top: 1px solid hsla(0, 0%, 100%, .15);
}

.footer {
    position: sticky;
    bottom: 0;
    padding: 32px;
    font-size: 14px;
    color: #c9c9c9;
    background-color: #1a1c21;
    cursor: default;
}
.footer p {
    font-family: Space Mono, sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
}
.footer button {
    background: none;
    border: 0;
    padding: 0;
    margin: 2px 0;
    color: #b8b8b8;
    font-family: Space Mono, sans-serif;
    cursor: pointer;
}
.footer button:hover {
    color: #d8d8d8;
}

.status-bar {
    background-color: #1a1c21;
    border-top:1px solid hsla(0, 0%, 100%, .1);
    color: #b8b8b8;
    font-family: "Space Mono", sans-serif;
    font-size: 12px;
    padding: 2px 16px;
    text-align: right;
}

.status-bar > span {
    margin-left: 24px;
}

.changelog-overlay, .ai-prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(0, 0, 0,.6);
}
.changelog, .ai-prompt {
    width: 700px;
    /* height: 700px; */
    margin: 64px auto;
    background-color: #1a1c21;
    /* border: 1px solid hsla(0, 0%, 100%, .15); */
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-size: 16px;
    padding: 12px 32px;
    color: #c9c9c9;
    outline: 0;
    cursor: default;
    box-shadow: 0 4px 12px 4px rgba(0, 0, 0, .3);
}
.ai-prompt {
    width: 840px;
    margin: 32px auto;
}
.changelog h3, .ai-prompt h3 {
    color: #e8e8e8;
    font-size: 13px;
    text-align: center;
    margin: 10px;
    margin-bottom: 16px;
}
.changelog h4 {
    margin: 0;
    font-size: 18px;
}
.changelog small {
    font-size: 13px;
    margin: 0;
    color: #8b8b8b;
}
.changelog ul {
    margin-top: 12px;
    padding-left: 0;
}
.changelog li {
    margin-left: 20px;
}
.ai-prompt pre {
    font-size: 14px;
    background-color: rgb(36, 36, 44);
    padding: 12px;
    white-space: break-spaces;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: outline-color .2s;
}
.ai-prompt pre:hover {
    background-color: rgb(38, 38, 49);
}
.ai-prompt pre:active {
    background-color: rgb(31, 31, 43);
}
.ai-prompt pre[data-copied="true"] {
    outline-color: #a6e3a1;
}
.ai-prompt small {
    color: #a6e3a1;
}